# Ignore Python virtual environments
.venv/
env/
venv/

# Ignore cache and compiled files
__pycache__/
*.pyc

# Ignore system-specific files
.DS_Store

# Ignore large datasets or secret files (if any)
data/
secrets.json

my_project_env/
