spacy==3.7.4
blis==0.7.11
nltk
SPARQLWrapper
pydeck
altair
transformers
tensorflow
keras
huggingface-hub
requests
tensorboard
rdflib
internetarchive
GitPython
lxml
beautifulsoup4
numpy<2.0.0
numpy<2.0.0
